<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />

    <link rel="stylesheet" href="../../css/burger_style.css" type="text/css" />
    <title>Eat-Da-Burger</title>

    <script defer src="https://code.jquery.com/jquery.js"></script>
    <script defer type="text/javascript" src="materialize/js/materialize.js"></script>
    <script defer src="../../js/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>